{% load static %}
<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{% static 'css/main.css' %}?v=1" rel="stylesheet">
    <link href="{% static 'css/fonts.css' %}?v=1" rel="stylesheet">
<style></style>
    {% if title %}
    <title>
        Sourcefit - {{ title }}
    </title>
    {% else %}
    <title>Sourcefit</title>
    {% endif %}
        <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>


    <div id="wrapper" class="col-lg-12">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="col-lg-4">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Sourcefit
                    </a>
                </li>
                <li>
                    <a href="{% url 'Core-dashboard' %}"><i data-feather="columns"></i> Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'Core-profile' %}"><i data-feather="user"></i> Profile </a>
                </li>
                <li>
                    <a href="{% url 'Core-goals'%}"><i data-feather="target"></i> Goals</a>
                </li>
                <li>
                    <a href="{% url 'Core-exercise'%}"><i data-feather="activity"></i> Exercise</a>
                </li>
                <li>
                    <a href="{% url 'Core-diet'%}"><i data-feather="coffee"></i> Diet</a>
                </li>
                <li>
                    <a href="{% url 'Core-settings'%}"><i data-feather="settings"></i> Settings</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        {%block content%} {%endblock%}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>


    <script>
      feather.replace()
    </script>
    <!-- feather icons package -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>