{% extends "Users/base1.html" %}
{% block content %}
{%  for post in posts %}
<h2 style="font-size: 25px !important;">Hey {{ User.username }}! Let's see how your progress is going</h2>
 <div class="jumbotron jumb5" style="margin-top: 70px;">
    <h4>Today's motivation</h4>
    <p>The Journey you fear venturing my possess the treasure you seek</p>
  </div>
<div class="alert alert-info">
  Here lies your most essential information about your health
</div>
<div class="row">
    <div class="col-md-6">
        <div class="jumbotron jumb1 fade-right">
        <h4>Current weight</h4>
            <h3 class="dash_data">{{post.current_weight}} <span class="measure">{{post.goal_weight_units.value}}</span></h3>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron jumb2">
        <h4>Goal weight</h4>
            <h3 class="dash_data">{{ post.maintenance_calories }}  <span class="measure">kg</span></h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="jumbotron jumb3">
        <h4>You should reach your goal in</h4>
            <h3 class="dash_data">{{ post.days_left }}  <span class="measure">days</span></h3>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron jumb4">
        <h4>Calories you've consumed today</h4>
            <h3 class="dash_data">{{ post.}}  <span class="measure">kcal</span></h3>
        </div>
    </div>
</div>
    {% endfor %}
    {% endblock content %}


<!--

 posts = [

    {
        'author' : 'Joe',
        'title' : 'posts',
        'content' : 'succ your dad instead',
        'date_posted' : 'June 17, 2019',
        'current_weight' : '80',
        'goal_weight' : '67',
        'calories consumed' : '1270'
    }
]

 -->