{% extends "Users/base1.html" %}
{% load staticfiles %}
{% block content %}
{% for post in posts %}

 <div class="jumbotron jumb5" style="margin-top: 70px;">
    <p>Completing activities gets you closer to reaching your goal. Keep going!</p>
     <button id="addAnActivityBtn"><span data-feather="edit-2"></span>Add an activity</button>
  </div>

<div class="alert alert-info">
  Clicking Complete marks the activity as complete and removes it
</div>
<div class="row" style="margin-top: 40px">
    <div class="col-md-6">
        <div class="jumbotron jumb4">
        <h4>Activity #1</h4>
            <h3 class="dash_data">Hike for 2 miles</h3>
            <button><span data-feather="check-circle"></span>Complete</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron jumb3">
        <h4>Activity #2</h4>
            <h3 class="dash_data">Set new deadlift PR</h3>
            <button><span data-feather="check-circle"></span>Complete</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron jumb1">
        <h4>Activity #3</h4>
            <h3 class="dash_data">Run 10k in an hour</h3>
            <button><span data-feather="check-circle"></span>Complete</button>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="addAnActivity" class="modal1">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      <form class="formform">
          <label style="font-size:18px;">Create an Activity:</label>
          <input class="modal-form" type="text" placeholder="example: Complete 10 pushups"/>
          <input type="submit" class="btn modal-btn" />
      </form>
  </div>

</div>
{% endfor %}
{% endblock content %}