{% extends "Users/base1.html" %}
{% load staticfiles %}
{% block content %}
{% for post in posts %}
 <div class="jumbotron jumb5" style="margin-top: 70px;">
    <p>Success leads to motivation and motivation leads to success. Add a new goal!</p>
     <a href="{% url 'Users-goal_entry' %}"><button style="" id="addAGoalBtn"><span data-feather="edit-2"></span>Add a goal</button></a>
  </div>

<div class="alert alert-info">
  Clicking Complete marks the goal as complete and removes it
</div>
<div class="row" style="margin-top: 40px">
    <div class="col-md-6">
        <div class="jumbotron jumb2">
        <h4>You should reach your goal in</h4>
            <h3 class="dash_data">{{ post.days_left }} <span class="measure">days</span></h3>
             <button><span data-feather="check-circle"></span>Complete</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron jumb4">
        <h4>You goal weight</h4>
            <h3 class="dash_data">{{ post.goal_weight }} <span class="measure">kcal</span></h3>
             <button><span data-feather="check-circle"></span>Complete</button>
        </div>
    </div>
</div>
    <script>
    alert('{{ message }}');
</script>
{% endfor %}
{% endblock content %}