{% extends "Users/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="col-lg-6">
<div class="login-form" style="margin-top: 20%">
    <img class="logo" src="{% static 'media/logo.png' %}" alt=""><br><br>
    <h2 class="text-left">Welcome back</h2><br>
    <form action={% url 'Users-login' %} method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="Username">Username:</label>
            <input type="text" class="form-control" placeholder="example: Firstname007" required="required">
        </div>
        <div class="form-group">
            <label for="password" >Password:</label>
            <input type="password" class="form-control" placeholder="Enter 6 characters or more" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        </div>
        <!--{{ form }}
        //<input type="submit" value="Login">-->
    <!--{{form}}-->
    </form>

<form action="" method="post">
    <table>

        <tr><td class="form-control">{{form}}</td></tr>

    </table>
    <input type="submit" class="btn btn-primary btn-block" value="Sign in">
</form>
</div>
</div>
<div class="col-lg-6 login-img">
    <h1 id="login-text">Your journey to better health <br> starts here</h1>
</div>

{% endblock content %}