{% extends "Users/base1.html" %}
{% load staticfiles %}
{% block content %}
{% for post in posts %}

    <div style="margin-bottom: 20px">
        <img class="profile" src="{% static 'media/profile-default.png' %}" style="height: 100px" alt="">
        <span style="font-size: 25px; margin-left: 40px">{{post.full_name}}</span>
        <span>@{{post.display_name}}</span>

        <span style="float: right"><button style="border-radius: 30px; background: transparent; border: 1px solid
        #333; color: #333" id="myBtn" class=""><span data-feather="settings"></span>Edit</button></span>
    </div>
<div class="alert alert-info">
  This is your profile that stores all your personal information
</div>
<div class="row">
    <div class="col-md-3">
        <div class="jumbotron jumb1 pro_jumbo fade-right">
        <h4>Current weight</h4>
            <h3 class="dash_data">{{post.current_weight}} <span class="measure">kg</span></h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron jumb2 pro_jumbo">
        <h4>Goal weight</h4>
            <h3 class="dash_data">{{ post.goal_weight}}  <span class="measure">kg</span></h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron jumb3 pro_jumbo">
        <h4>You should reach your goal in</h4>
            <h3 class="dash_data">{{ post.days_left }}  <span class="measure">days</span></h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron jumb4 pro_jumbo">
        <h4>Calories you've consumed today</h4>
            <h3 class="dash_data">{{dailyCalories}}  <span class="measure">kcal</span></h3>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" style="padding: 30px; min-height: 50%">
        <span class="close">&times;</span>
        <p>Change your weight</p><br>
        <form action="" method="post">
            {% csrf_token %}
            {{form}}<br>
          <input type="submit" class="btn" style="color: #fff; float: right">
        </form>
    </div>

    <!--  calorificCount", "dateAdded", "foodOrDrinkName", "typeOfMeal -->
</div>

<script>
    // Add a goal Modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endfor %}
{% endblock content %}